# Audio/model binaries - never commit these (large, and often copyrighted
# source material). config.json/reference_mapping.json/results.md/.json
# under stem-shootout/data/songs/ are small metadata and SHOULD be tracked.
*.wav
*.flac
*.mp3
*.7z
*.afpk
*.ogg
*.pt
*.onnx
*.ckpt

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS
.DS_Store
